body {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: cursive;
}

.p20 {
    padding: 20px;
}

.canvasbox {
    border-radius: 3px;
    margin-right: 10px;
    width: 450px;
    height: 338px;
    border-bottom: 3px solid #0063FF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    background: #333;
}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px
}

.updatenote {
    color: #03A062;
    margin-bottom: 10vh;
    font-size: 1.75rem;
}

#current-note {
    margin-block: 10rem;
    font-size: 4rem;
    font-family: monospace;
    color: #03A062;
    transition-property: opacity;
    transition-duration: 1s;
    width: 100vw;
    text-align: center;
}

#current-frequency {
    font-size: 4rem;
    font-family: monospace;
    color: #03A062;
    transition-property: opacity;
    transition-duration: 1s;
    width: 100vw;
    text-align: center;
}

#trackbutton {
    padding: .5rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: #333;
    color: white;
    border-radius: 5px;
    width: 50vw;
    margin-top: 10vh;
}
